/app/static/uploads/dev_Avatar.jpg
/app/static/uploads/IMG_20240819_163450_665.jpg
/app/static/uploads/Screenshot_2024-09-01-13-03-46-384_com.android.chrome.jpg
/app/static/uploads/spongebob-spongebob-squarepants.gif
/app/static/uploads/wavy-black-white-background_1.jpg
/app.db
/migrations/
