{% extends "base.html" %}

{% block title %} Create Post {% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2 class="text-center">Create a New Post</h2>
        <form method="POST" action="{{ url_for('create_post') }}">
            {{ form.hidden_tag() }}

            <!-- Title Field -->
            <div class="form-group">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.preview.label(class="form-label") }}
                {{ form.preview(class="form-control") }}
            </div>

            <!-- Body Field -->
            <div class="form-group">
                {{ form.body.label(class="form-label") }}
                <!-- Textarea for TinyMCE -->
                <textarea id="post_body" name="body" class="form-control">{{ form.body.data if form.body.data else ''|safe }}</textarea>
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-primary w-100") }}
            </div>
        </form>

        <!-- Back to Posts Link -->
        <div class="text-center mt-3">
            <p><a href="{{ url_for('index') }}">Back to Posts</a></p>
        </div>
    </div>
</div>

<!-- TinyMCE Integration -->
<script src="https://cdn.tiny.cloud/1/247pvwinddayvgmaihbhjl5koq6ij8mbjbsesn6fqib18yoc/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#post_body',
        plugins: 'advlist autolink lists link image charmap preview anchor textcolor',
        toolbar: 'undo redo | bullist numlist | hr',
        menubar: 'insert format',
        mobile: {
            theme: 'silver',
            plugins: 'advlist autolink lists link image charmap preview anchor textcolor',
            toolbar: 'undo redo | bullist numlist | hr',
            menubar: 'insert format'
        }
    });
</script>
{% endblock %}
